<div class="col-12 p-5">
    <div class="row">
        <div class="col-6 ms-4 me-4 p-4">
            <h4>Servicio Nacional de Aprendizaje SENA</h4>
            <h5>Direccion General</h5>
            <h6>Calle 57 No. 8 - 69 Bogota D.C. Colombia.</h6>
            <h6>Conmutador Nacional (+57 601 546 1500).</h6>
            <hr>
            <h4>Servicio Nacional de Aprendizaje SENA</h4>
            <h5>Centro de Gestión de Mercados, Logística y Tecnologías de la Información</h5>
            <h6>Calle 52 No. 13 - 65 Bogota D.C. Colombia.</h6>
            <h6>Conmutador Nacional (+57 601 546 1500).</h6>
        </div>

        <div class="col-5 p-4 c">
            <h2>Social Media Sena</h2>
            <a href="https://www.facebook.com/SENA/" target="_blank">
                <img src="static/img/icons/facebook.png" class="imgred" alt="LOGO" />
            </a>
            
            <a href="https://www.instagram.com/senacomunica/" target="_blank">
                <img src="static/img/icons/instagram.png" class="imgred" alt="LOGO" />
            </a>
            
            <a href="https://twitter.com/SENAComunica?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ASENAComunica%7Ctwcon%5Es2" target="_blank">
                <img src="static/img/icons/twitter.png" class="imgred" alt="LOGO" />
            </a>

            <a href="https://www.youtube.com/user/SENATV" target="_blank">
                <img src="static/img/icons/youtube.png" class="imgred" alt="LOGO" />
            </a>

            <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank">
                <img src="static/img/logos/logo-sena-Naranja-300x300-1.jpg" class="imgred" alt="LOGO" />
            </a>

            <div class="col-12 mx-auto mt-4">
                <img src="static/img/icons/icontecA.png" class="imgicont" alt="LOGO" />
                <img src="static/img/icons/icontecB.png" class="imgicont" alt="LOGO" />
            </div>


        </div>

    </div>
</div>
