<div class="col-11 mx-auto p-3 marco m-5 c">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto p-3 c">
                <img src="static/img/imgns/inscroppar.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <a class="btn btn-warning" href="/asisten">Inscripción Asistentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
        </div>
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto p-3 c">
                <h3 class="mbuplett">Presencial/Virtual</h3>
                <h3 class="mbuplett">Lugar: Auditorio Sena. Dirección: Centro de Gestión de</h3>
                <h3 class="mbuplett">mercados, logística y TI (Calle 52)</h3>
                <h3 class="mbuplett">Virtual: Transmisión en vivo por YouTube Fundación</h3>
                <h3 class="mbuplett">Universitaria Compensar</h3>
                <h3 class="mbuplett">Certificado de asistencia SOFIAPLUS</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-11 mx-auto p-3 marco m-5 c">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto p-3 c">
                <img src="static/img/imgns/inscrippon.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <a class="btn btn-warning" href="/exponen">Inscripción Ponentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
        </div>
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto mt-3 p-3 c">
                <h3 class="mbuplett">Ponencias relacionadas con la incorporación de tecnologías</h3> 
                <h3 class="mbuplett">digitales en el agro colombiano para el desarrollo e inclusión</h3> 
                <h3 class="mbuplett">de los pequeños y medianos productores agrícolas y pecuarios,</h3> 
                <h3 class="mbuplett">y para el fortalecimiento de los sistemas alimentarios.</h3> 
            </div>
        </div>
    </div>
</div>