<div class="col-11 mx-auto p-3 marco m-5 c">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto p-3 c">
                <img src="static/img/imgns/inscroppar.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <h2 class="mbuplett">Acompáñenos, inscríbase</h2>
                        <h2 class="mbuplett">como asistente</h2>
                        <a class="btn btn-warning" href="/asisten">Inscripción Asistentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
        </div>
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto mt-4 p-3 c">
                <h2 class="mbuplett">Nuestro congreso, estará lleno de sorpresas,</h2>
                <h2 class="mbuplett">contaremos con una serie de conferencias</h2>
                <h2 class="mbuplett">presenciales y virtuales de alta calidad</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-11 mx-auto p-3 marco m-5 c">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto p-3 c">
                <img src="static/img/imgns/inscrippon.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <h2 class="mbuplett mb-2">Participe como ponente</h2>

                        <a class="btn btn-warning mt-3" href="/exponen">Inscripción Ponentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
        </div>
        <div class="col-6 mx-auto">
            <div class="col-12 mx-auto mt-3 p-3 c">
                <h2 class="mbuplett">Puede participar en 2 modalidades,</h2>
                <h2 class="mbuplett">virtual a través de la transmisión en vivo y presencial en </h2>
                <h2 class="mbuplett">el auditorio del Centro de Gestión de Mercados, Bogotá.</h2> 
            </div>
        </div>
    </div>
</div>