{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
{% include 'partials/navbar2.html' %}
    
<div class="container mb-5">
    <div class="col-12 mx-auto mt-4">
        <h1>Formulario De Inscripcion Para Asistentes</h1>
    </div>

    <hr>

    <div class="col-12 mx-auto mt-5 marco">
        <form action="" method="POST">
            
            <div class="col-11 mx-auto mb-3">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="nombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombres" placeholder="Nombres" name="nombres">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="apellidos">
                    </div>
                </div>
            </div>

            <div class="col-11 mx-auto mb-3">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="phone" class="form-label">Numero de Contacto</label>
                        <input type="text" class="form-control" id="phone" placeholder="Teléfono" name="phone">
                    </div>
                </div>
            </div>

            <div class="col-11 mx-auto mt-3">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="empresa" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="empresa" placeholder="Empresa" name="empresa">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="cargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="cargo" placeholder="Cargo" name="cargo">
                    </div>
                </div>
            </div>

            <div class="col-4 mx-auto d-grid gap-2 pb-5">
                <button class="btn btn-success mt-3" type="submit">Submit</button>
            </div>
            
        </form>
    </div>
</div>


{% endblock %}