{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
{% include 'partials/navbar2.html' %}
    
<div class="container mb-5 p-5">
    <div class="col-12 mx-auto">
        <h1>Formulario De Registro Para Asistentes</h1>
    </div>

    <hr>

    <div class="col-10 mx-auto p-5 marco">
        <form action="" method="POST">
            
            {{ form.hidden_tag() }}

            <div class="form-group mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        {{ form.nombres(class_="form-control", size=32) }}
                    </div>
                    <div class="col-6 mx-auto c">
                        {{ form.apellidos(class_="form-control", size=32) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        {{ form.email(class_="form-control", size=32) }}
                    </div>
                    <div class="col-6 mx-auto c">
                        {{ form.phone(class_="form-control", size=32) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        {{ form.empresa(class_="form-control", size=32) }}
                    </div>
                    <div class="col-6 mx-auto c">
                        {{ form.cargo(class_="form-control", size=32) }}
                    </div>
                </div>
            </div>
            <br/>

            <div class="col-4 mx-auto d-grid gap-2  c">
                {{ form.submit(class_="form-control") }}
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
