{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
{% include 'partials/navbar2.html' %}
    
<div class="container mb-5 p-5">
    <div class="col-12 mx-auto">
        <h1>Formulario De Registro Para Asistentes</h1>
    </div>

    <hr>

    <div class="col-10 mx-auto p-5 marco">
        <form action="{{ url_for('asisten') }}" method="POST">

            <div class="form-group mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        <input type="text" class="form-control" size=32 id="nombres" name="nombres", placeholder="Nombre/s">
                    </div>
                    <div class="col-6 mx-auto c">
                        <input type="text" class="form-control" size=32 id="apellidos" name="apellidos", placeholder="Apellidos">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        <input type="email" class="form-control" size=32 id="email" name="email", placeholder="Correo">
                    </div>
                    <div class="col-6 mx-auto c">
                        <input type="text" class="form-control" size=32 id="phone" name="phone", placeholder="Teléfono">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-6 mx-auto c">
                        <input type="text" class="form-control" size=32 id="empresa" name="empresa", placeholder="Empresa">
                    </div>
                    <div class="col-6 mx-auto c">
                        <input type="text" class="form-control" size=32 id="cargo" name="cargo", placeholder="Cargo">
                    </div>
                </div>
            </div>
            <br/>

            <div class="col-4 mx-auto d-grid gap-2  c">
                <input class="btn btn-success" type="submit" value="Inscribirse">
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
