{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
{% include 'partials/navbar2.html' %}

<div class="container mb-5">
    <div class="col-12 mx-auto mt-4">
        <h1>Inscripción De Ponentes</h1>
    </div>

    <hr>

    <div class="col-12 mx-auto mt-5">
        <div class="row">
            <div class="col-7 mx-auto">
                <h3>Requisitos</h3>
                <h4>Inscripción como ponente</h4>
                <p class="just">La convocatoria a presentar trabajos en calidad de ponencias, relacionados con el tema central, o, 
                    subtemas del congreso está dirigida a estudiantes de pre y posgrado, docentes, investigadores, profesionales, 
                    representantes de organizaciones públicas o privadas; quienes estén interesados en presentar los resultados 
                    de sus investigaciones y su aplicación en el marco del Plan Nacional de Desarrollo "Colombia, potencia mundial de la vida".</p>

                <p class="just">La inscripción al Congreso, por parte de los ponentes, NO TIENE COSTO ALGUNO, 
                    por tratarse de un evento organizado por una instancia de concertación y una entidad estatal.</p>

                <h4>Ejes temáticos</h4>
                <p>Las temáticas que se abordaran en esta versión del congreso internacional se relacionan con la agricultura 
                    digital como recurso vital para el desarrollo e inclusión de los pequeños y medianos productores agrícolas y 
                    pecuarios, y para el fortalecimiento de los sistemas alimentarios. </p>

                Los subtemas o ejes temáticos del congreso son:
                <ul>
                    <li>Agricultura digital</li>
                    <li>Gestión y control de los ciclos productivos</li>
                    <li>Comercialización de productos</li>
                    <li>Nuevas formas organizativas en el sector agrícola y pecuario para la micro y mediana empresa</li>
                    <li>Redes de Suministro y Redes Logísticas digitales agrícolas y pecuarias</li>
                    <li>Comercio y tiendas virtuales desde el campo</li>
                    <li>Huella ecológica</li>
                    <li>Economía circular</li>
                    <li>Red agroalimentaria</li>
                </ul>

                Requisitos para la postulación de trabajos
                <ul>
                    <li>Resumen extendido en idioma español, que contenga objetivos, materiales y métodos utilizados, resultados y presentación clara y concisa de las principales conclusiones del trabajo.</li>
                    <li>Medio de presentación:  Word para Windows (Office 365).</li>
                    <li>No más de 600 palabras incluido el encabezado y el resumen propiamente dicho.</li>
                    <li>Márgenes: norma APA.</li>
                    <li>Fuente: Letra Arial 12 e interlineado sencillo.</li>
                    <li>Encabezado: Subtema en mayúsculas y minúsculas, margen izquierdo, alineación justificada, con una extensión máxima de 10 palabras.</li>
                    <li>Título del trabajo: en mayúsculas, negrita, alineación centralizada.</li>
                    <li>Nombre del autor (es).</li>
                    <li>Pertenencia institucional (cuando aplique): indicar la pertenencia después de los autores.</li>
                    <li>Palabras Clave: hasta cinco.</li>
                    <li>Resumen.</li>
                </ul>
                <p class="just">Los proyectos postulados deberán enviarse al correo oficial del evento comitecientifico2023msl@gmail.com y cargar el resumen en formato Word o pdf, teniendo en cuenta los criterios anteriores. Aquellos resúmenes que sean seleccionados según los criterios definidos enviarán su artículo de investigación para ponencia y publicación en la revista oficial del Congreso.</p>
                <p class="just">Todos los resúmenes recibidos serán evaluados por un miembro del comité científico, quien verificará el cumplimiento de los criterios de evaluación y las calidades requeridas por las publicaciones del Congreso, con lo cual emitirá su concepto por escrito que se da a conocer en reunión formal del comité científico.</p>
                        
                Criterios de evaluación:
                <ul>
                    <li>Originalidad</li>
                    <li>Pertinencia</li>
                    <li>Fundamentación teórica</li>
                    <li>Aplicabilidad</li>
                    <li>Replicabilidad</li>
                    <li>Impacto académico, social y económico</li>
                </ul>

                <p class="just">Pasado este proceso, el comité organizador notificará a los autores cuyas ponencias fueron aprobadas a 
                    través del correo electrónico; posteriormente se les solicitará el envío del artículo para someterlo a publicación 
                    en las memorias del Congreso.</p>

                Requisitos para la presentación de las ponencias
                <p class="just">Con la presentación del resumen el autor o los autores autorizan al Congreso y a la Mesa Sectorial de 
                    Logística SENA para consolidar las ponencias y entregarlas a los participantes y a formar parte de las memorias del Congreso.</p>

                Exposición de las ponencias.
                <p class="just">Los Trabajos que hayan sido aceptados serán presentados en forma presencial o virtual oral por el 
                    autor(es) de conformidad con la programación establecida y previamente comunicada. Las presentaciones tendrán 
                    una duración total de 30 minutos, 15 minutos para la exposición y 15 minutos para atender preguntas.</p>

                Comité científico y gestión de ponentes
                <ul>
                    <li>Msc. Feres Sahid Castaño</li>
                    <li>Msc. Román Rodríguez</li>
                    <li>Msc. Benjamín Pinzón Hoyos</li>
                    <li>Msc. Fabiola Pinzón Hoyos</li>
                    <li>Msc. Luis Flórez Rubio</li>

                </ul>

                Requisitos para la presentación del articulo
                <ul>
                    <li>Resumen (250 - 300 palabras)</li>
                    <li>Palabras clave </li>
                    <li>Abstract Key Words</li>
                    <li>Introducción </li>
                    <li>Desarrollo </li>
                    <li>Resultados </li>
                    <li>Conclusiones </li>
                    <li>Referencias</li>
                    <li>Bibliografía </li>
                </ul>

                Exposición de las ponencias.
                <p class="just">Los Trabajos que hayan sido aceptados serán presentados en forma presencial  o virtual oral por el 
                    autor (es) en conformidad con la programación establecida y previamente comunicada.  Las presentaciones tendrán 
                    una duración de 30 minutos, (15 para la exposición y 15 para atender preguntas y el debate).</p>
                <p class="just">Aunque el Congreso dispone de los recursos audiovisuales necesarios, es recomendable que el ponente confirme los 
                    recursos que necesita.</p>
                
                La  presentación, dado el tiempo asignado, debe contener:
                <ul>
                    <li>Originalidad</li>
                    <li>Pertinencia</li>
                    <li>Fundamentación teórica</li>
                    <li>Aplicabilidad</li>
                    <li>Replicabilidad</li>
                    <li>Impacto académico</li>
                    <li>Impacto sobre la creación de valor económico, social y ambiental en las micro y pequeñas empresas campesinas.</li>
                </ul>

                Reconocimiento a los ponentes:
                <ul>
                    <li>Certificado de ponencia presentada.</li>
                    <li>Certificado de reconocimiento a la mejor ponencia de acuerdo con el mayor puntaje en la evaluación.</li>
                    <li>Publicación en las memorias del evento.</li>
                </ul>
            </div>

            <div class="col-4 mx-auto marco">
                <h3 class="pt-5 c">Formulario Para Ponentes</h3>
                <form action="" method="POST">
            
                    {{ form.hidden_tag() }}

                    <div class="col-12 mx-auto mt-5 mb-2">
                        <div class="col-12 mb-5">
                            {{ form.nombres(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.apellidos(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.email(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.phone(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.empresa(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.cargo(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.tema(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-5">
                            {{ form.titulo(class_="form-control", size=32) }}
                        </div>

                        <div class="col-12 mb-2">
                            {{ form.comentarios(class_="form-control", size=32) }}
                        </div>

                        <div class="col-6 mx-auto d-grid gap-2 mt-5 c">
                            {{ form.submit(class_="form-control btn btn-warning") }}
                        </div>
                    </div>

                </form>

                <div class="col-11 mx-auto mt-5 p-3 borde r">
                    <p>Descarge los requisitos en formato PDF</p>
                    <a class="btn btn-light" href="/downpdf">Requisitos .pdf</a>
                </div>
                
                <div class="col-11 mx-auto mt-5">
                    <h5>Comité científico y gestión de ponentes</h5>
                    <ul>
                        <li>M.Sc. Feres Sahid Castaño</li>
                        <li>M.Sc. Román Rodríguez</li>
                        <li>M.Sc. Benjamín Pinzón Hoyos</li>
                        <li>M.Sc. Fabiola Pinzón Hoyos</li>
                        <li>M.Sc. Luis Flórez Rubio</li>
                    </ul>
                </div>

                <div class="col-11 mx-auto mt-5">
                    El correo oficial del Comite es:
                    comitecientifico2023msl@gmail.com
                </div>

                <div class="col-11 mx-auto mt-5">
                    <h5>Fechas Importantes</h5>
                    <dl>
                        <dt>Envío de resúmenes de los trabajos para aceptación:</dt>
                        <dd>hasta el 22 de septiembre de 2023</dd>
                        <dt>Notificación de aceptación:</dt>
                        <dd>1ro de octubre de 2023</dd>
                        <dt>Envío de trabajo (artículo)  para publicación:</dt>
                        <dd>13 de octubre de 2023</dd>
                        <dt>Envío de presentación:</dt>
                        <dd>18 de octubre de 2023</dd>
                        <dt>Realización del Congreso:</dt>
                        <dd>25 de octubre de 2023</dd>
                    </dl>
                </div>

                <div class="col-11 mx-auto mt-5 just mb-5">
                    Aunque el Congreso dispone de los recursos audiovisuales necesarios, es recomendable que el ponente confirme los recursos que necesita.
                </div>

                

            </div>
        </div>
    </div>
</div>


{% endblock %}
