{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

{% include 'partials/navbar.html' %}

<div class="col-12 mx-auto">
    <div id="#banner" class="banner">
        <img src="static/img/banner/congreso_int_banner.jpg" class="d-block w-100  mb-4" alt="banner">
    </div>

    <div id="contador" class="contador ">
        <div class="col-11 mx-auto p-3 marco m-5 c">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="col-12 mx-auto p-3 c">
                        <img src="static/img/imgns/inscroppar.jpeg" class="imgbutt" alt="Img">
                        <div class="row">
                            <div class="col-7 mx-auto mbup">
                                <h2 class="mbuplett">Acompañanos, incribete</h2>
                                <h2 class="mbuplett">como asistente</h2>
                                <a class="btn btn-warning" href="/asisten">Inscripción Asistentes</a>
                            </div>
                            <div class="col-4 mx-auto mbup"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <div class="col-12 mx-auto mt-4 p-3 c">
                        <h2 class="mbuplett">Ven al congreso, estara lleno de sorpresas</h2>
                        <h2 class="mbuplett">Contaremos con una serie de conferencias</h2>
                        <h2 class="mbuplett">presenciales y virtuales de alta calidad</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contador" class="contador ">
        <div class="col-11 mx-auto p-3 marco m-5 c">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="col-12 mx-auto p-3 c">
                        <img src="static/img/imgns/inscrippon.jpeg" class="imgbutt" alt="Img">
                        <div class="row">
                            <div class="col-7 mx-auto mbup">
                                <h2 class="mbuplett">Te gustaria participar</h2>
                                <h2 class="mbuplett">como ponente?</h2>
                                <a class="btn btn-warning" href="/exponen">Inscripción Ponentes</a>
                            </div>
                            <div class="col-4 mx-auto mbup"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <div class="col-12 mx-auto mt-4 p-3 c">
                        <h2 class="mbuplett">Te gustaria presentar tus ideas a un publico interesado?</h2>
                        <h2 class="mbuplett">Ingresa, dando click al boton y encontraras</h2>
                        <h2 class="mbuplett">toda la informacion necesaria para participar</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contador" class="contador ">
        <div class="col-7 mx-auto p-3 marco m-5 c">
            <h3 class="counterdown">No te pierdas nuestras ponencias y conferencias</h3>
            <h2 class="counterdown">Solo faltan:</h2>
            <h1 id="demo" class="counterdown"></h1>
        </div>
    </div>

    <div id="infogen" class="infogen">
        <div class="col-11 mx-auto p-5">
            <div class="row">
                <div class="col-5 mx-auto p-3 just">
                    <h3 class="objetivstit">Objetivo del congreso</h3>
                    <h4 class="objetivs">El congreso tiene por objetivo acopiar propuestas sobre la incorporación de tecnologías digitales en el sector primario de la economía colombiana y aplicarlas en el desarrollo de la política del gobierno nacional sobre el incremento de la creación de valor económico, social y ambiental en las micro y pequeñas empresas campesinas. </h4>
                    <hr>
                    <h3 class="objetivstit">Publico participante</h3>
                    <h4 class="objetivs">Para este evento esperamos tener un grupo de participantes muy variado, contando con la presencia de empresarios, profesionales, docentes, instructores, estudiantes, aprendices e interesados en general que buscan fortalecer y actualizar sus conocimientos en redes de suministro digitales y conocer buenas prácticas y experiencias relacionadas con las cadenas productivas del agro colombiano.</h4>
                </div>
                <div class="col-7 mx-auto mt-4">
                    <img src="static/img/imgns/auditorio.jpg" class="imgobj" alt="Img">
                </div>
            </div>
        </div>
    </div>

    <div id="temas" class="temas mb-5">
        <img src="static/img/imgns/temas.jpg" class="imgobj" alt="Img">

    </div>

    <div class="col-12 mx-auto m-5">
        <div id="pone" class="row">
            <div class="col-5 mx-auto p-3 c">
                <img src="static/img/imgns/inscrippon.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <h2 class="mbuplett">Te gustaria participar</h2>
                        <h2 class="mbuplett">como Ponente?</h2>
                        <a class="btn btn-warning" href="/exponen">Inscripción Ponentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
            <div class="col-5 mx-auto p-3 c">
                <img src="static/img/imgns/inscroppar.jpeg" class="imgbutt" alt="Img">
                <div class="row">
                    <div class="col-7 mx-auto mbup">
                        <h2 class="mbuplett">Acompannanos, Incribete</h2>
                        <h2 class="mbuplett">Como Asistente</h2>
                        <a class="btn btn-warning" href="/asisten">Inscripción Asistentes</a>
                    </div>
                    <div class="col-4 mx-auto mbup"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="nosotros" class="nosotros">
        <h2 class="mt-4 c">Equipo de Comunicaciones</h2>
        <div class="col-11 mx-auto mt-5">
            <div class="row">
                <div class="col-2 mx-auto"></div>
                <div class="col-2 mx-auto m-4 c">
                    <img src="static/img/comunica/valentina.jpg" class="imgcomm" alt="Img">
                    <h4 class="mt-3">Roman Rodriguez</h4>
                    <h4>Director</h4>
                </div>
                <div class="col-2 mx-auto"></div>
                <div class="col-2 mx-auto m-4 c">
                    <img src="static/img/comunica/valentina.jpg" class="imgcomm" alt="Img">
                    <h4 class="mt-3">Kareen Vega</h4>
                    <h4>Coordinadora</h4>
                </div>
                <div class="col-2 mx-auto"></div>
            </div>

        </div>
        <div class="col-11 mx-auto mb-5">
            <div class="row">
                <div class="col-2 mx-auto m-4 c">
                    <img src="static/img/comunica/valentina.jpg" class="imgcomm" alt="Img">
                    <h4 class="mt-3">Valentina Camargo</h4>
                    <h4>Diseño</h4>
                </div>
                <div class="col-2 mx-auto"></div>
                <div class="col-2 mx-auto m-4 c">
                    <img src="static/img/comunica/valentina.jpg" class="imgcomm" alt="Img">
                    <h4 class="mt-3">Jennifer Niño</h4>
                    <h4>Diseño</h4>
                </div>
                <div class="col-2 mx-auto"></div>
                <div class="col-2 mx-auto m-4 c">
                    <img src="static/img/comunica/gabriel.jpg" class="imgcomm" alt="Img">
                    <h4 class="mt-3">Gabriel Masutier</h4>
                    <h4>Desarrollo</h4>
                </div>
            </div>

        </div>


    </div>

    <div id="contact" class="contact">
        {% include 'partials/contact.html' %}

    </div>
</div>

{% endblock %}
